# Ignore all .csv files
*.csv

# Ignore all .avi files
*.avi

# Ingore all data inside the data folder
Data/

_pycache_/

# Ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# But don't ignore these .csv files
!/Data_conf/data_configuration.csv
!/Data_conf/data_patient.csv
